<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        /* Style all font awesome icons */
        .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 1rem 1rem;
        }

        /* Add a hover effect if you want */
        .fa:hover {
        opacity: 0.7;
        }
    </style>
</head>
<body>
    <h1>GITHUB LOGIN PAGE!</h1>
    

    <a href="https://github.com/login/oauth/authorize?client_id=e2b5006f1a0f110f475b" class="fa fa-github fa-lg"></a>
        <br><br><br>

    <a href="#" onclick="signOut();">Sign out from Github</a><br>



</body>
</html>