body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
a {
  color: rgb(19, 129, 253);
}
.signup, .login {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}
.logOut {
  color: white;
}
.badge {
  background-color: #17a2b8;
}
.logOut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.logOut > h2 {
  color: rgb(53, 53, 53)
}
.write-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}