<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>

    <style>
        body {
            text-align: center;
            color: rgb(63, 63, 63);
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3rem;
        }
        .heading {
            padding: 1rem;
        }
        .btn {
            margin-top: 1.5rem;
        }
    </style>

</head>
<body>

    <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <h2 class="heading" >File Upload</h2>
            <input type="file" name="file" id="file" />
            <input type="submit" value="Upload" class="btn btn-success" />
        </div>
    </form>
    
</body>
</html>