<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/about" method="POST">
      <h1><%= title %></h1>
      <input type="text" name="first" /> <br>
      <input type="text" name="second" /> <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
